<!-- views/layout.erb -->
<html>
  <body>
    <div>
      <%= yield %>
    </div>
    <div>
      <h3>Stats</h3>
      There are <%= count_users %> users, with a total of <%= count_interests %> interests.
    </div>
  </body>
</html>
