div {
    border-radius: 5px;
    border: 1px solid black;
}

#header {
    z-index: 1;
    /*position: fixed;*/
    position: relative;
    height: 50px;
    /*width: 99%;*/
    background-color: cyan;
}

.left {
    float: left;
    height: 250px;
    width: 20%;
    background-color: yellow;
}

.right {
    float: right;
    height: 250px;
    width: 79.5%;
    background-color: orange;
}

#footer {
    clear: both;
    height: 50px;
    /*width: 98%;*/
    background-color: pink;
}
