a {
    text-decoration: none;
    color: #008B45;
}

a:visited {
    color: #EE9A00;
}

a:hover {
    color: #00FF00;
}

p:first-child {
    font-family: cursive;
}

p:nth-child(2) {
    font-family: Tahoma;
    color: black;
}

p:nth-child(3) {
    color: #CC0000;
}

p:nth-child(4) {
    background-color: #00FF00;
}

p:nth-child(5) {
    font-size: 22px;
}
