/* Class and ID Selectors */


/* Class Selector:

Classes are useful when you have a bunch of elements that should all receive the same styling. Rather than applying the same rules to several selectors, you can simply apply the same class to all those HTML elements, then define the styling for that class in the CSS tab.*/

.red {
    color: red;
}

.fancy {
    font-family: cursive;
    color: #0000CD;
}


/* ID Selector */

#rogue {
    color: #FF00FF;
    font-weight: bold;
    font-family: cursive;
}
