<!doctype html>
<html>
  <head>
    <title><%= @title %></title>
  </head>

  <body>
    <h1><%= @title %></h1>
    <h2>by <%= @author %></h2>
      <p></p>
      <p>
        <%= @chapter %>
      </p>
      <p>
        <a href="/">Table of Contents</a>
      </p>
  </body>

</html>
